.note-window{
    font-size: 16px;
    // padding: 2rem;
    overflow-y: scroll;
    height: 100%;
    padding-inline: 2rem;
    padding-bottom: 10rem;

    pre{
        background: transparent !important;
    }
}